footer {
  .container {
    .row {
      &>div {
        h2 {
          &:after {
            content: "";
            left: unset;
            right: 0;
          }
        }
      }
    }
  }
  .copyRight {
    p {
      text-align: center;
    }
  }
}